{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    {% if app.user %}
    <h1>Jobs list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Workplace</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead> 
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.status }}</td>
                <td>{{ job.workplace }}</td>
                <td>{{ job.salary }}</td>
                <td>
                    <a href="{{ path('job_edit', {'id': job.id}) }}">Edit</a> / 
                    <a href="{{ path('job_show', {'id': job.id}) }}">View</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_new') }}">Create new</a>
    {% else %}
    <a href="{{ path('app_login') }}">Unauthorized access. Please, login.</a>
    {% endif %}
{% endblock %}
