{% extends 'base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body %}
    {% if app.user %}
    <h1>Job</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ job.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ job.status }}</td>
            </tr>
            <tr>
                <th>Workplace</th>
                <td>{{ job.workplace }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ job.salary }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('job_index') }}" class="btn btn-sm btn-light"> &lt; Back to list</a>
    {% else %}
    <a href="{{ path('app_login') }}">Unauthorized access. Please, login.</a>
    {% endif %}
{% endblock %}
 